.App {
  text-align: center;
  align-items: center;
  background-color: #cccc;
}

header{
  height: 100%;
  width: 85%;
  background-color: palegoldenrod;
}

.Content{
  height: 100%;
  width: 85%;
  background-color: orange;
}

.Footer{
  height: 100%;
  width: 100%;
  background: paleturquoise;
}


