.App {
  text-align: center;
  align-items: center;
  background-color: #cccc;
}


.menu{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menu a{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.menu a:hover{
  color: tomato;
}

.Content{
  height: 100%;
  width: 85%;
  background-color: orange;
}

.cuadroInfo{
  
}

.Footer{
  height: 100%;
  width: 100%;
  background: paleturquoise;
}




